service: backend-lambda

provider:
  name: aws
  runtime: nodejs18.x
  region: eu-west-3
  stage: dev
  environment:
    NODE_ENV: production
    DATABASE_NAME: postgres
    DATABASE_USER: postgres
    DATABASE_PASSWORD: !+HipHop97424+!
    DATABASE_HOST: db.wvvawjjfpdgcdnmedboh.supabase.co
    DATABASE_PORT: 5432
    PROTOCOLE: https
    CORS_ORIGIN: https://main.d2foa299n6ioy9.amplifyapp.com
    CLIENT_IP: main.d181l8v9krvus2.amplifyapp.com
    CLIENT_PORT: 5748
    SERVER_PORT: 8080
    SERVER_HOST: backend-production-2f14.up.railway.app
    JWT_SECRET: 095d69926a23f86c
    JWT_REFRESH_SECRET: 83ez354d8ht4tsgs


functions:
  api:
    handler: handler.handler
    url: true
